a:hover {
    color: #EAB820;
    text-decoration: underline;
}

a.headerlink {
    color: #6f7376;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}
 
a.headerlink:hover {
    background-color: #EAB820;
    color: white;
}

body {
    background-color: #ffffff;
}
